.services-container {
    padding: 20px;
  }
  
  .services-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Space between the boxes */
  }
  
  .service-box {
    background-color: rgb(254, 69, 69);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 300px; /* Adjust width as needed */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  .service-box:hover {
    transform: scale(1.05);
  }
  
  .service-box h2 {
    margin-top: 0;
  }
  
  .service-box p {
    margin: 5px 0;
  }


  .service-buttons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
  }
  
  .btn {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
  }
  
  .modify-btn {
    background-color: #007bff;
  }
  
  .modify-btn:hover {
    background-color: #0056b3;
  }
  
  .terminate-btn {
    background-color:#007bff;
  }
  
  .terminate-btn:hover {
    background-color: #0056b3;
  }
  